{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class="page-header">
    <h2>About</h2>
</div>
<div>
    The Bar chart analyser is semi-automated interface. This system takes images of different catergories of bar chart such as simple bar, grouped bar, stacked bar, and histogram in both horizontal and vertical orientations. It performs tasks such as classification and data extraction.
</div>
<!--<br/>-->
<!--<center><span style="font-weight:bold" ><p style="font-size:20px">Collaborations</span></center>-->
<!--<center><img src="static/images/DemoVis_Logo.png" alt="Smiley face" height="200" width="800"></center>-->
<!--<br/>-->
<center><span style="font-weight:bold" ><p style="font-size:20px">People</span></center>

<!--<div class="col-lg-6  mb-4", align="center">-->
    <div class="info", align="center">
        <p><center><span style="font-weight:bold" >Professor Jaya Sreevalsan Nair, Komal Dadhich (MS), Sirichandana Daggubati (MS) </center></span>,<br/> International Institute of Information Technology Bangalore,<br /> 26/C, Hosur Rd, Electronics City Phase 1, Electronic City, <br />Bengaluru, Karnataka 560100</p>
        <p><span>Email:</span> <a href="mailto:jnair@iiitb.ac.in">jnair@iiitb.ac.in, komal.dadhich@iiitb.org, daggubati.sirichandana@iiitb.org</a></p>
        <p><span>Website:</span> <a href="https://www.iiitb.ac.in/GVCL/">https://www.iiitb.ac.in/GVCL/</a></p>
    </div>
<!--</div>-->
<!--<div class="col-lg-6  mb-4">-->
<!--    <div class="info">-->
<!--        <p><span style="font-weight:bold" >Dr. Vikas Vazhayil, Dr. Reeta Mani</span>,<br /> National Institute of Mental Health and Neurosciences,<br /> Hosur Rd, Near Bangalore Milk Dairy, <br />Bengaluru, Karnataka 560029</p>-->
<!--        <p><span>Email:</span> <a href="mailto:vikas.drv@gmail.com">vikas.drv@gmail.com, drreeta@gmail.com</a></p>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col-lg-6  mb-4">-->
<!--    <div class="info">-->
<!--        <p><span style="font-weight:bold" >Dr. Reeta Mani</span>,<br /> National Institute of Mental Health and Neurosciences,<br /> Hosur Rd, Near Bangalore Milk Dairy, <br />Bengaluru, Karnataka 560029</p>-->
<!--        <p><span>Email:</span> <a href="mailto:drreeta@gmail.com">drreeta@gmail.com</a></p>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}

