{% extends 'layouts/main.html' %} {% block title %}Upload{% endblock %} {% block content %}

<div class="page-header">
    <h1>Upload Image File and annotated XML file</h1>
</div>

<!--<form method="post" enctype="multipart/form-data">
    <p><input type="file" name="file">
        <input type="submit" value="Upload">
    </p>
</form>-->

<div class="container text-center">
	   <form class="form-inline"  action="/upload" method="POST" enctype="multipart/form-data">
		   <div class="row">
				<div class="form-group">
					<span id="file-name" class="file-box"></span>
				</div>
				<br>
				<div class="form-group ">
					<label class="fileContainer" class="inputfile">
					<i class="fa fa-upload" aria-hidden="true"></i>
					Upload Image File
						<input type="file" name="file" onchange='uploadFile(this)' placeholder='Choose a file...'>
					</label>
				</div>
		   </div>
		   <div class="row">
				<div class="form-group">
					<span id="file-name1" class="file-box"></span>
				</div>
				<br>
				<div class="form-group ">
					<label class="fileContainer" class="inputfile">
					<i class="fa fa-upload" aria-hidden="true"></i>
					Upload XML file
						<input type="file" name="configfile" onchange='uploadFile1(this)' placeholder='Choose a file...'>
					</label>
				</div>
		   </div>
		   <div class="row">
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg" value="Upload">Submit</button>
				</div>
		   </div>
		</form>
</div>
<script>
function uploadFile(target) {
	document.getElementById("file-name").innerHTML = target.files[0].name;
}
function uploadFile1(target) {
	document.getElementById("file-name1").innerHTML = target.files[0].name;
}
</script>
{% endblock %}
